/*
 * Global Styles
 */

html {
	font-size: 100%;
}
body {
	padding-top: 54px;
	font-family: "lato", sans-serif;
	font-size: 1.2em;
	line-height: 1.55em;
}
iframe {
	width: 100%;
}
img {
	width: 120%;
	margin-left: -10%;
	height: auto;
}
.btn-default {
	border: 0;
	background-color: #E7E7E7;
}

/*
 * Typography
 */

h1 {
	color: #BDBE5A;
	font-weight: 300;
	font-size: 2.9em;
}
h2 {
	color: #D41E47;
	font-weight: 400;
}
p {
	color: #3F4142;
	margin-top: 20px;
	margin-bottom: 20px;
}
a {
	color: #D41E47;
}
a:hover {
	color: #BDBE5A;
}

/*
 * Navbar
 */

.navbar {
	background-color: #3F4142;
	border-bottom: 4px solid #BDBE5A;
}
.navbar-brand img {
	border-radius: 50%;
	border: 5px solid #BDBE5A;
	width: 110px;
}
.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: .8em;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #BDBE5A;
}


/*
 * Jumbotron
 */

.jumbotron {
	height: 375px;
	text-align: center;
}
.jumbotron h1 {
	color: #BDBE5A;
	margin-top: 60px;
}

/*
 * Feature
 */

.thumbnail-gallery {
	text-align: center;
}
.thumbnail-gallery a.thumbnail:hover {
	border: 1px solid #BDBE5A;
}

/*
 * Post list
 */

.post-list {
	margin-bottom: 20px;
}
.post-list h3 {
	margin-bottom: 0;
}
.post-list p {
	margin-top: 0;
}

/*
 * Article
 */

.article-heading {
	text-align: center;
	width: 120%;
	margin-left: -10%;
	margin-top: 40px;
	margin-bottom: 20px;
}
.article-heading .article-meta p {
	color: #999;
	font-style: italic;
}
.article-body img {
	min-width: 120%;
	margin-left: -10%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.article-footer {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}
.article-footer .btn {
	width: 100%;
}

/*
 * Footer
 */

footer {
	color: white;
	background-color: #3F4142;
	border-top: 5px solid #BDBE5A;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer h3 {
	color: #BDBE5A;
}
footer ul a {
	color: white;
}

/* Sticky Footer */
html, body {height: 100%;}

#wrap {
	min-height: 100%;
	padding-bottom: 25px;
}

#main {overflow:auto;
	padding-bottom: 300px;}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -310px; /* negative value of footer height */
	height: 310px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/*
 * Thumbnails
*/

.thumbnail {
	border-radius: 50%;
}