/*
 * Global Styles
 */
html {
	font-size: 100%;
}
body {
	padding-top: 50px;
	font-size: 1.2em;
	line-height: 1.8em;
}

/*
 * Navbar
 */
.navbar {
	background-color: #3F4142;
	border-bottom: 4px solid #BDBE5A;
}

/*
 * Typography
 */
h1 {
	color: #BDBE5A;
}