---
layout: default
title: Advertising Agency, Green Bay, WI
---
<div class="jumbotron">
	<h1>Full-service creativity and marketing.</h1>
	<p>From big picture strategy to fine details of design, copywriting, social media and media buying, all in-house.</p>
</div>

<div class="container">
	
	<div class="thumbnail-gallery">
		<div class="row">
			{% for post in site.categories.work limit: 8 %}
			<div class="col-sm-3 col-xs-6">
				<a href="{{ post.url }}" class="thumbnail">
					<img class="img-responsive img-circle" src="{{ site.baseurl }}img/{{ post.image }}">
				</a>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-lg btn-default"><a href="/work">View all projects</a></button>
				<hr>
			</div>
		</div>
	</div>
	
	<div class="post-list">
		<div class="row">
			<div class="col-md-12">
				<h1>Recent Posts</h1>
				{% for post in site.categories.blog limit: 3 %}
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<p>{{ post.date | date: "%B %-d, %Y" }}</p>
				{% endfor %}
					<button type="button" class="btn btn-lg btn-default"><a href="/blog">View all blog posts</a></button>
			</div>
		</div>
	</div>


