        </div> <!-- /.container -->
      </div> <!-- /#main -->
    </div> <!-- /#wrap -->
</div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <h3>Site Map</h3>
            <ul class="basic-list">
              <li><a href="{{ site.baseurl }}">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/work">Work</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-6">
            <h3>Follow Us</h3>
            <ul class="basic-list">
              <li><a href="http://www.facebook.com/insightcreativeinc">Facebook</a></li>
              <li><a href="http://twitter.com/insightwi">Twitter</a></li>
              <li><a href="http://instagram.com/insightwi">Instagram</a></li>
              <li><a href="http://www.pinterest.com/insightinc/">Pinterest</a></li>
              <li><a href="http://www.youtube.com/user/InsightCreativeWI/">YouTube</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001nxNUBQroFr26-H-ECAwD8pmvSYh8P1LCZNXEOEwN0onqjNisPk-uCnU-ZXGKJe2QHb8cUJGLi2E%3D">Newsletter</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-xs-12">
            <h3>Our Location</h3>
            <p>1816 Sal St.<br>Green Bay, WI 54302<br>920.468.7459</p>
            <p>&copy; Insight Creative, Inc. All rights reserved.</p>
          </div>
          <div class="col-md-4 col-xs-12">
            <h3>Contact Us</h3>
            <iframe src="/contact-form.html" width="200" height="260" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery, Bootstrap and Holder -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.js"></script>

    <!-- Wistia Jumbotron Video -->
    <script charset='ISO-8859-1' src='https://fast.wistia.com/assets/external/E-v1.js'></script>
    <script charset='ISO-8859-1' src='https://fast.wistia.com/labs/crop-fill/plugin.js'></script>
    <script src="/js/video.js"></script>

    {% if page.url contains "/work" %}<!-- Only load MixItUp on the work page -->
    <script src="/js/holder.js"></script>
    <!-- MixItUp jQuery Plugin -->
  	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <script src="/js/mixitup-options.js"></script>
    {% endif %}

    {% if page.url == "/index.html" %}<!-- Only load jumbotron related javascript on the home page -->

    <!-- Widon't, removes widows in jumbotron text -->
    <script>
      jQuery(function($) {
        $('.jumbotron-header,.jumbotron-text').each(function() {
          $(this).html($(this).html().replace(/\s([^\s<]+)\s*$/,'&nbsp;$1'));
        });
      });
    </script>

    <script type="text/javascript">
      document.getElementById("nav").style.boxShadow="0px 5px 10px rgba(8,8,8,.3)";
    </script>
    <script type="text/javascript">
    $(function() {
      //caches a jQuery object containing the header element
      $(window).scroll(function() {
          var scroll = $(window).scrollTop();

          if (scroll <= 325) {
            document.getElementById("nav").style.boxShadow="0px 5px 10px rgba(8,8,8,.3)";
          } else {
            document.getElementById("nav").style.boxShadow="none";
          }
      });
    });
    </script>
    {% endif %}

    {% if page.url contains "/careers" %}

    {% endif %}

    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'tagged',
            tagName: 'awesome',
            clientId: 'YOUR_CLIENT_ID'
        });
        feed.run();
    </script>

  </body>
</html>
