<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">
    <link href="/img/favicon.ico" rel="shortcut icon">
    <link href="http://insightcreative.com/feed.xml" rel="alternate" type="application/atom+xml">
    <title>{{ page.title }} | Insight Creative</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/lba2uki.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    {% if page.card == "summary" %}
      <meta name="twitter:card" content="summary">
    {% elsif page.card == "summary large image" %}
      <meta name="twitter:card" content="summary_large_image">
    {% elsif page.card == "gallery" %}
      <meta name="twitter:card" content="gallery">
      <meta name="twitter:image0:src" content="{{ site.url }}/img/{{ page.image }}">
      <meta name="twitter:image1:src" content="{{ site.url }}/img/{{ page.image2 }}">
      <meta name="twitter:image2:src" content="{{ site.url }}/img/{{ page.image3 }}">
      <meta name="twitter:image3:src" content="{{ site.url }}/img/{{ page.image4 }}">
    {% endif %}
    {% if page.card %}
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:domain" content="insightcreative.com">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
    <meta name="twitter:image:src" content="{{ site.url }}/img/{{ page.image }}">
    {% endif %}
  </head>