{% include head.html %}

  <body>

    <div id="wrap">

      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container navbar-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img class="img-circle {% if page.title contains "Advertising Agency" %}pop animation{% endif %}"src="/img/insight-creative-logo.gif" alt="Insight Creative"></a>
            </div>

            <div class="collapse navbar-collapse {% if page.title contains "Advertising Agency" %}slideDown{% endif %}" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" {% if page.url contains "/about" %}class="active"{% endif %}>
                  <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="/about">About Insight Creative</a></li>
                    <li><a href="/news">Company News</a></li>
                    <li><a href="/staff-bios">Staff Bios</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/services" %}class="active"{% endif %}><a href="/services">Services</a></li>
                <li {% if page.url contains "/work" %}class="active"{% endif %}><a href="/work">Work</a></li>
                <li {% if page.url contains "/blog" %}class="active"{% endif %}><a href="/blog">Blog</a></li>
                <li {% if page.url contains "/contact" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div id="main">