<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }} | Insight Creative</title>
    <meta name="viewport" content="width=device-width">
    <link href="/img/favicon.ico" rel="shortcut icon">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Styles -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/lba2uki.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    
    <div id="wrap">
      
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container navbar-container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/"><img class="img-circle {% if page.title contains "Advertising Agency" %}pop animation{% endif %}"src="/img/insight-creative-logo.jpg" alt="Insight Creative"></a>
            </div>
          
            <!-- navbar toggle links -->
            <div class="collapse navbar-collapse {% if page.title contains "Advertising Agency" %}slideDown animation{% endif %}" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" {% if page.url contains "/about" %}class="active"{% endif %}>
                  <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/about">About Insight Creative</a></li>
                    <li><a href="/staff-bios">Staff Bios</a></li>
                  </ul>
                </li>
                <li {% if page.url contains "/services" %}class="active"{% endif %}><a href="/services">Services</a></li>
                <li {% if page.url contains "/work" %}class="active"{% endif %}><a href="/work">Work</a></li>
                <li {% if page.url contains "/blog" %}class="active"{% endif %}><a href="/blog">Blog</a></li>
                <li {% if page.url contains "/contact" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    
      <div id="main">