---
layout: default
title: Work
---

        <div class="container">
          
          <h1>Projects and Case Studies</h1>
          
          <div class="btn-group gallery-filter">
            <button type="button" class="filter btn btn-default" data-filter="all">Show All</button>
            <button type="button" class="filter btn btn-default" data-filter=".case-study">Case Studies</button>
            <button type="button" class="filter btn btn-default" data-filter=".web">Web</button>
            <button type="button" class="filter btn btn-default" data-filter=".print">Print</button>
            <button type="button" class="filter btn btn-default" data-filter=".identity">Identity</button>
            <button type="button" class="filter btn btn-default" data-filter=".video">Video</button>
            <button type="button" class="filter btn btn-default" data-filter=".packaging">Packaging</button>
            <button type="button" class="filter btn btn-default" data-filter=".social-media">Social Media</button>
          </div>
          
          <div class="row thumbnail-gallery">
            <div id="Container">
              {% for post in site.categories.work %}
                <div class="mix col-sm-3 col-xs-6 {% for tag in post.tags %}{{ tag | downcase | replace: " ", "-" | append: " " }}{% endfor %}">
                  <a class="thumbnail" href="{{ post.url }}">
                    <img class="img-responsive img-circle" src="{{ site.baseurl }}img/{{ post.image }}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>