<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{{ page.title }} | Insight Creative</title>
		<meta name="viewport" content="width=device-width">
		<link href="/img/favicon.ico" rel="shortcut icon">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		
		<!-- Styles -->
		<link rel="stylesheet" href="/css/main.css">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
			<header>
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    			<div class="container navbar-container">
    				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
							<span class="sr-only">Toggle Navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
    					<a class="navbar-brand" href="{{ site.baseurl }}"><img src="/img/insight-creative-logo.jpg" alt="Insight Creative" class="img-circle"></a>
    				</div>
					
						<!-- navbar toggle links -->
						<div class="collapse navbar-collapse" id="navbar-collapse-1">
    					<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="/about" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
								  <ul class="dropdown-menu">
								  	<li><a href="/about">About Insight Creative</a></li>
										<li><a href="/staff-bios">Staff Bios</a></li>
								  </ul>
								</li>
    						<li><a href="/services">Services</a></li>
    						<li><a href="/work">Work</a></li>
    						<li><a href="/blog">Blog</a></li>
    						<li><a href="/contact">Contact</a></li>
    					</ul>
						</div>
    			</div>
    		</nav>
			</header>
			<div class="container">
				<div class="row">
					
					{{ content }}	
					
				</div>
			</div>
			
			<footer>
				<div class="container">
				<ul class="col-md-3 col-xs-6">
					<h5>Site Map</h5>
					<li><a href="{{ site.baseurl }}">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/work">Work</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<ul class="col-md-3 cox-xs-6">
					<h5>Follow Us</h5>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Google+</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">YouTube</a></li>
					<li><a href="#">Newsletter</a></li>
				</ul>
				<div class="col-md-3">
					<h5>Our Location</h5>
					<address>1816 Sal Street<br />
						Green Bay, WI 54302</address>
				</div>
				</div>
			</footer>
				
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/holder.js"></script>
	</body>
</html>
