---
layout: page
---

              <article>
                <div class="article-heading">
                  <h1 class="article-title">{{ page.title }}</h1>
                  <div class="article-meta">
                    <p>{{ page.date | date: "%B %-d, %Y" }} by {{ page.author }}</p>
                  </div>
                </div>
                <div class="article-body">
                    
{{ content }}
                    
                </div>
                <div class="article-footer">
                  <a href="http://twitter.com/insightwi" target="_blank" class="btn btn-lg btn-inverse">Discuss this post on Twitter</a>
                  <a href="/blog#archives" target="_blank" class="btn btn-lg btn-default">See all posts</a>
                </div>
              </article>
              
              {% for staff in site.data.staff %}
                {% if page.author == staff.name %}
                
                {% include staff-bio.html %}
                
                {% endif %}
              {% endfor %}