---
layout: page
---
              
              <article>
                <div class="article-heading">
                  <h1 class="article-title">{{ page.title }}</h1>
                  <div class="article-meta">
                    <p>By {{ page.author }} — {{ page.date | date: "%B %-d, %Y" }}</p>
                  </div>
                </div>
                <div class="article-body">
                    
{{ content }}
                    
                </div>
                <hr>
                <div class="article-footer">
                  <a href="http://twitter.com/insightwi" target="_blank" class="btn btn-lg btn-inverse">Discuss this post on Twitter</a>
                  <a href="/blog#archives" target="_blank" class="btn btn-lg btn-default">See all posts</a>
                  <!--
                  {% if page.previous.url %} 
                    <p>Previous post: <a class="prev" href="{{page.previous.url}}"> {{page.previous.title}}</a></p>
                  {% endif %} 
                  {% if page.next.url %} 
                    <p>Next post: <a href="{{page.next.url}}">{{page.next.title}}</a></p>
                  {% endif %}
                    -->
              </article>
              
              {% for staff in site.data.staff %}
                {% if page.author == staff.name %}
                
                {% include staff-bio.html %}
                
                {% endif %}
              {% endfor %}