---
layout: page
---
<article>
	<div class="article-heading">
		<h1>{{ page.title }}</h1>
		<div class="article-meta">
			<h3>{{ page.client }}</h3>
		</div>
	</div>

	{{ content }}

</article>

</div> <!-- /center column -->

{% for post in site.categories.work %}
<div class="col-md-3 col-sm-4 col-xs-6">
	<a href="{{ post.url }}" class="thumbnail">
		<img class="img-responsive img-circle" src="holder.js/500x500/auto">
	</a>
</div>
{% endfor %}

<div class="col-md-12">
	<button type="button" class="btn btn-lg btn-default"><a href="/work">View all projects</a></button>
</div>