---
layout: page
---
<article>
  <div class="article-heading">
    <h1 class="article-title">{{ page.title }}</h1>
    <div class="article-meta">
      <p>Client: {{ page.client }}</p>
    </div>
  </div>
  <div class="article-body">

    {{ content }}
  
  </div>
</article>

</div> <!-- /center column -->

<div class="row">
  <div class="col-md-12">
    <hr>
    <h1>Related Projects</h1>
  </div>
</div>
<div class="thumbnail-gallery">
  <div class="row">
    {% for post in site.categories.work limit: 7 %}
    <div class="col-sm-3 col-xs-6">
      <a href="{{ post.url }}" class="thumbnail">
        <img class="img-responsive img-circle" src="{{ site.baseurl }}img/{{ post.image }}">
      </a>
    </div>
    {% endfor %}
    <div class="col-sm-3 col-xs-6">
      <a class="thumbnail" href="/work"><img class="img-responsive img-circle" src="holder.js/500x500/auto/text:View all projects"></a>
    </div>
  </div>
</div>